
  <!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

     <!-- Custom styles for this template -->
    <link href="css/application.scss" rel="stylesheet">

  </head>

  <body>
  	  <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-14">

          <!-- Title -->
		<h1 class="mt-4">
		<h1>Edit article</h1>
				          <!-- Author -->
          <p class="lead">
            by
            <a href="#"> Sijia Liang</a>
          </p>
          <hr>
          <!-- Date/Time -->
          <p>Posted on January 1, 2018 at 12:00 PM</p>

  <hr>
<%= render 'form' %>
 
<%= link_to 'Back', articles_path %>



</div>
</div>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>